@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  background-image: url('/public/paperTexture.png');
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #f97316;
}

span.swiper-pagination-bullet {
  background-color: #f97316;
}

div.swiper-pagination-fraction {
  font-size: large;
  font-weight: 200;
  color: #f97316;
  margin-left: 160px;
}
